*
	{
		margin: 0;
		padding: 0;
	}

body
	{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: rgba(0,0,0,0.2);
	}

form
	{
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
		padding: 10px;
		width: 400px;
		margin: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

form div
	{
		display: flex;
		flex-direction: column;
		padding: 5px;
	}

div label
	{
		font-size: 0.8em;
	}

form input[type="button"]
	{
		margin: 0 5px;
		border-radius: 5px;
		border: none;
		padding: 5px;
		color: white;
		font-weight: 700;
	}

input#boton
	{
		background-color: rgba(100,80,200,1);
	}

input#boton:hover
	{
		background-color: rgba(100,80,200,0.4);
	}

input#btnIng
	{
		background-color: rgba(80,200,100,1);
	}

input#btnIng:hover
	{
		background-color: rgba(100,80,200,0.4);
	}